---
---

@import "{{ site.theme }}";

body {
  font-family: georgia;
  background-color: #4d4d4d;
  color: white;
}

h1 {
  font-family: georgia;
  color: #00ab97
}

p {
  font-family: georgia;
  color: white;
  font-size: 20px;
}
